<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Орон сууц худалдаа, захиалга, ипотекийн 6% зээл, борлуулалт, тайгам алтай">
    <meta name="description" content="Орон сууц борлуулалтын алба. Орон сууцны захиалгаа өгөөрэй!">
    <title>Борлуулалт | Тайгам Алтай</title>
    <link rel="stylesheet" href="../../css/admin/nicepage.css" media="screen">
    <link rel="stylesheet" href="../../css/admin/products.css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <script class="u-script" type="text/javascript" src="../../js/admin/jquery.js" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="../../js/admin/nicepage.js" "="" defer=""></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <meta property="og:title" content="Орон сууц захиалга">
    <meta property="og:description" content="Ипотекийн зээлд хамрагдах боломжтой">
    <meta property="og:image" content="../../images/1.jpg">
    <link rel="canonical" href="Тайгам Алтай ХХК | Борлуулалт">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "Тайгам Алтай ХХК | Борлуулалт"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:url" content="Тайгам Алтай ХХК | Борлуулалт">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" src="" data-image-width="1920" data-image-height="1358" id="sec-58b1">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1" contenteditable="true" id="name"><%= product.name %></h1>
        <p hidden id="productid"><%= id %></p>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-1 u-section-2" id="carousel_50b2">
      
      
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-default u-image-1" id="image1-2" src="../../images/product/<%= product.top1 %>" alt="" data-image-width="1620" data-image-height="1080">
        <img class="u-image u-image-default u-image-2" id="image1-1" src="../../images/product/<%= product.top2 %>" alt="" data-image-width="1620" data-image-height="1080">
        <img class="u-image u-image-default u-image-3" id="image1-3" src="../../images/product/<%= product.top3 %>" alt="" data-image-width="1620" data-image-height="1080">
        <div class="u-align-left u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
            <h2 class="u-text u-text-default u-text-1" contenteditable="true" id="desc1"><%= product.desc1 %></h2>
          </div>
        </div>
        <div class="u-align-left u-container-style u-grey-80 u-group u-group-2">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h2 class="u-text u-text-default u-text-2" contenteditable="true" id="desc2"><%= product.desc2 %></h2>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center; margin-bottom:20px;">
        <form action="/admin/sales/product-save1?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data" name="form1" id="form1">
        <input type="file" accept="image/*" onchange="image11(this)" name="image" id="image1" required>
        <input type="file" accept="image/*" onchange="image12(this)" name="image" id="image2" required>
        <input type="file" accept="image/*" onchange="image13(this)" name="image" id="image3" required>
        <input type="text" value="<%= id %>" hidden name="id">
        <button type="submit" style="color: black;">Save</button>
        </form>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-md u-section-3" id="sec-9535">
      <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-spacing-top u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-left-cell u-size-60 u-layout-cell-1" src="">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-palette-1-base u-text-1" contenteditable="true" id="midTitle"><%= product.midTitle %></h2>
                <p class="u-text u-text-2" contenteditable="true" id="midSubtitle"><%= product.midSubtitle %></p>
                <form style="margin-top: 20px;" action="/admin/sales/product-save2?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data" name="form2" id="form2">
                <input type="file" accept="image/*" onchange="image21(this)" maxlength="4" name="image" id="image20">
                <input type="text" value="<%= id %>" hidden name="id">
                <button type="submit">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <img style="width: 100%;" id="img2" src="../../images/product/<%= product.mid %>" alt="" > 

    <section class="u-align-left u-clearfix u-section-4" id="sec-6e88">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: left;">
            <span style="line-height: 2.0;" contenteditable="true" id="headline"><%= product.headline %></span>
          </h1>
          <p style="text-align: left;">
            <span style="line-height: 2; font-size: 1.25rem;" contenteditable="true" id="article"><%= product.article %>&nbsp;</span>
          </p>
          <blockquote>
            <p style="text-align: left; text-decoration: none;">
              <span style="line-height: 2; font-weight: 700;" contenteditable="true" id="quote"><%= product.quote %>&nbsp;</span>
            </p>
          </blockquote>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-3e2a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" >Танилцуулга зураг</h2>
        <form action="/admin/sales/product-save3?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data" name="form3" id="form3">
          <input type="text" value="<%= id %>" hidden name="id">
          <input type="file" accept="image/*" name="images" id="image30" multiple>
          <button type="submit">Save</button>
        </form>
        <div class="u-carousel u-expanded-width u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-none u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-9387">
          <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-9387" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <%
             
            for (let index = 1; index < product.bottomList.length; index++) {%>
              <li data-u-target="#carousel-9387" data-u-slide-to="<%= index %>" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <% } %>
            
            
            
          </ol>
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
              <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                <div class="u-back-slide">
                  <img class="u-back-image u-expanded" src="../../images/product/<%= product.bottomList[0] %>">
                </div>
                <div class="u-over-slide u-over-slide-1">
                  <h3 class="u-gallery-heading"></h3>
                  <p class="u-gallery-text"></p>
                </div>
              </div>
              <% for (let index = 1; index < product.bottomList.length; index++) {%>
                  <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                    <div class="u-back-slide">
                      <img class="u-back-image u-expanded" src="../../images/product/<%= product.bottomList[index]%>">
                    </div>
                    <div class="u-over-slide u-over-slide-2">
                      <h3 class="u-gallery-heading"></h3>
                      <p class="u-gallery-text"></p>
                    </div>
                  </div>
              <% } %>
              
              
            </div>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1" href="#carousel-9387" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2" href="#carousel-9387" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>

    </section>
    <button
          style="
          position:fixed;
          width:80px;
          height:80px;
          bottom:40px;
          right:40px;
          background-color:#00215B;
          color:#FFF;
          cursor: pointer;
          border-radius:50px;"
          onclick="saveTextInfo()"
          >
          <i id="savebutton">Save</i>
    </button>
    <button
          style="
          position:fixed;
          width:80px;
          height:80px;
          bottom:40px;
          left:40px;
          background-color:#da0000;
          color:#FFF;
          cursor: pointer;
          border-radius:50px;"
          onclick="deleteProduct()"
          >
          <i id="delbutton">Устгах</i>
    </button>
    <script>
      function deleteProduct() {
        function setback() {
            document.getElementById('delbutton').innerText = 'Устгах';
          }
          const timeout = setTimeout(setback, 2000);
        var formData = {
            id: document.getElementById('productid').innerText,
          }
        fetch("/admin/sales/delete", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            "CSRF-Token": Cookies.get("XSRF-TOKEN"),

          },
          body: JSON.stringify(formData),
        }).then(function(response){
          switch (response.status) {
            case 201:
              window.location.href = '/admin/sales';
              break;
            
            case 500:
              document.getElementById('delbutton').innerText = 'Алдаа гарлаа';
              timeout
              break;
          }
          console.log(response.status)
          
        })
      }
      function saveTextInfo() {
          function setback() {
            document.getElementById('savebutton').innerText = 'Save';
          }
          const timeout = setTimeout(setback, 2000);
          const name = document.getElementById("name").innerText;
          const desc1 = document.getElementById("desc1").innerText;
          const desc2 = document.getElementById("desc2").innerText;
          const midTitle = document.getElementById("midTitle").innerText;
          const midSubtitle = document.getElementById("midSubtitle").innerText;
          const headline = document.getElementById("headline").innerText;
          const article = document.getElementById("article").innerText;
          const quote = document.getElementById("quote").innerText;
          var formData = {
            id: document.getElementById('productid').innerText,
            name: name,
            desc1: desc1,
            desc2: desc2,
            midTitle: midTitle,
            midSubtitle: midSubtitle,
            headline: headline,
            article: article,
            quote: quote,
          }
          fetch("/admin/sales/update-text", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            "CSRF-Token": Cookies.get("XSRF-TOKEN"),

          },
          body: JSON.stringify(formData),
        }).then(function(response){
          switch (response.status) {
            case 201:
              document.getElementById('savebutton').innerText = 'Амжилттай';
              timeout
              break;
            
            case 500:
              document.getElementById('savebutton').innerText = 'Алдаа гарлаа';
              timeout
              break;
          }
          console.log(response.status)
          
        })
      }
      function image21(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          document.getElementById("img2").setAttribute('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      function image11(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          document.getElementById("image1-1").setAttribute('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      function image12(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          document.getElementById("image1-2").setAttribute('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      function image13(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          document.getElementById("image1-3").setAttribute('src', e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
        }
      }          

    </script>
  </body>
</html>