<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Нүүр</title>
    <link rel="stylesheet" href="../../css/admin/nicepage.css" media="screen">
<link rel="stylesheet" href="../../css/admin/Нүүр.css" media="screen">
    <script class="u-script" type="text/javascript" src="../../js/admin/jquery.js" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="../../js/admin/nicepage.js" "="" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
    <meta name="generator" content="Nicepage 4.17.10, taigam-altai.mn">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="icon" href="../../images/favicon.png">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Taigam-Admin",
		"logo": "../../images/Taigamaltailogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Нүүр">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-fd46"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://taigam-altai.mn" class="u-image u-logo u-image-1" data-image-width="2130" data-image-height="1916">
          <img src="../../images/Taigamaltailogo.png" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-heading-font u-text u-text-default u-text-1">Админ</p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/admin" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/sessionLogout" style="padding: 10px 20px;">Гарах</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/sessionLogout">Гарах</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-bc1b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="33.3%">
              <col width="33.3%">
              <col width="33.400000000000006%">
            </colgroup>
            <thead class="u-custom-color-1 u-table-header u-table-header-1">
              <tr style="height: 21px;">
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Д </th>
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Гарчиг </th>
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Дэд гарчиг </th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 75px;">
                <td class="u-border-1 u-border-custom-color-2 u-first-column u-table-cell u-text-custom-color-2">Үйлчилгээ 1</td>
                <p hidden id="id1"><%= services[0].id %></p>
                <p hidden id="id2"><%= services[1].id %></p>
                <p hidden id="id3"><%= services[2].id %></p>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="title1" contenteditable="true"><%= services[0].title%></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="subtitle1" contenteditable="true"><%= services[0].subtitle%></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-custom-color-2 u-first-column u-table-cell u-text-custom-color-2">Үйлчилгээ 2</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="title2" contenteditable="true"><%= services[1].title%></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="subtitle2" contenteditable="true"><%= services[1].subtitle%></td>
              </tr>
              <tr style="height: 76px;">
                <td class="u-border-1 u-border-custom-color-2 u-first-column u-table-cell u-text-custom-color-2">Үйлчилгээ 3</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="title3" contenteditable="true"><%= services[2].title%></td>
                <td class="u-border-1 u-border-grey-30 u-table-cell" id="subtitle3" contenteditable="true"><%= services[2].subtitle%></td>
              </tr>
            </tbody>
          </table>
        </div>
        <a onclick="save()" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-10 u-btn-1" id="button">Хадгалах</a>
      </div>
    </section>
    
    
    
    <script>
      function save() {
        const title1 = document.getElementById('title1').innerText;
        const title2 = document.getElementById('title2').innerText;
        const title3 = document.getElementById('title3').innerText;
        const subtitle1 = document.getElementById('subtitle1').innerText;
        const subtitle2 = document.getElementById('subtitle2').innerText;
        const subtitle3 = document.getElementById('subtitle3').innerText;
        const timeout = setTimeout(setback, 2000);
        var data = {
            id1: document.getElementById('id1').innerText,
            id2: document.getElementById('id2').innerText,
            id3: document.getElementById('id3').innerText,
            title1: title1,
            title2: title2,
            title3: title3,
            subtitle1: subtitle1,
            subtitle2: subtitle2,
            subtitle3: subtitle3
        }
        fetch("/admin/update-service", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
            "CSRF-Token": Cookies.get("XSRF-TOKEN"),

          },
          body: JSON.stringify(data),
        }).then(function(response){
          switch (response.status) {
            case 201:
              document.getElementById('button').innerText = 'Амжилттай';
              timeout
              break;
            
            case 500:
              document.getElementById('button').innerText = 'Алдаа гарлаа';
              timeout
              break;
          }
          console.log(response.status)
          
        })
      }
      function setback() {
        document.getElementById('button').innerText = 'Хадгалах';
        
      }
    </script>
  
</body></html>