<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex">
    <title>Санал болгох</title>
    <link rel="stylesheet" href="../../css/admin/nicepage.css" media="screen">
<link rel="stylesheet" href="../../css/admin/Санал-болгох.css" media="screen">
    <script class="u-script" type="text/javascript" src="../../js/admin/jquery.js" "="" defer=""></script>
    <script class="u-script" type="text/javascript" src="../../js/admin/nicepage.js" "="" defer=""></script>
    <meta name="generator" content="Nicepage 4.17.10, taigam-altai.mn">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Taigam-Admin",
		"logo": "../../images/Taigamaltailogo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Санал болгох">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-fd46"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://taigam-altai.mn" class="u-image u-logo u-image-1" data-image-width="2130" data-image-height="1916">
          <img src="../../images/Taigamaltailogo.png" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-heading-font u-text u-text-default u-text-1">Админ</p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/admin" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/admin/settings" style="padding: 10px 20px;">Үндсэн тохиргоо</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/sessionLogout" style="padding: 10px 20px;">Гарах</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/admin/settings">Үндсэн тохиргоо</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/sessionLogout">Гарах</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-3e86">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" data-lang-en="Борлуулалт"><%= showcase.title %></h2>
        <p class="u-text u-text-2" data-lang-en="​Доорхи төслүүдтэй танилцан борлуулалтын ажилтантай холбогдно уу."><%= showcase.subtitle %></p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-image-width="1280" data-image-height="853">
              <div class="u-back-slide" data-image-width="1280" data-image-height="790">
                <img class="u-back-image u-expanded" src="../../images/showcase/<%= images[0]%>" alt="Алтай Хотхон 1">
              </div>
              <div class="u-over-slide u-shading u-valign-middle u-over-slide-1">
                <h3 class="u-gallery-heading" data-lang-en="Алтай Хотхон 1">Алтай Хотхон 1</h3>
                <p class="u-gallery-text" data-lang-en="Захиалга авч байна">Захиалга авч байна</p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="960" data-image-height="1280">
                <img class="u-back-image u-expanded" src="../../images/showcase/<%= images[1]%>">
              </div>
              <div class="u-over-slide u-shading u-valign-middle u-over-slide-2">
                <h3 class="u-gallery-heading" data-lang-en=""></h3>
                <p class="u-gallery-text" data-lang-en=""></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="../../images/showcase/<%= images[2]%>">
              </div>
              <div class="u-over-slide u-shading u-valign-middle u-over-slide-3">
                <h3 class="u-gallery-heading" data-lang-en=""></h3>
                <p class="u-gallery-text" data-lang-en=""></p>
              </div>
            </div>
            <div class="u-effect-fade u-effect-hover-zoom u-gallery-item u-gallery-item-4">
              <div class="u-back-slide" data-image-width="1280" data-image-height="853">
                <img class="u-back-image u-expanded" src="../../images/showcase/<%= images[3]%>">
              </div>
              <div class="u-over-slide u-shading u-valign-middle u-over-slide-4">
                <h3 class="u-gallery-heading" data-lang-en=""></h3>
                <p class="u-gallery-text" data-lang-en=""></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-a48c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="/admin/showcase/edit" data-page-id="57546924" class="u-btn u-button-style u-btn-1">Засах</a>
      </div>
    </section>
    
  
</body></html>